# Copyright (c) 2024 Max-Planck-Institute Saarbruecken (Germany), GeometryFactory (France)
# SPDX-License-Identifier: MIT
BasedOnStyle: Google
Language: Cpp
IndentWidth: 4
AccessModifierOffset: -4
BreakBeforeBraces: Linux

