* text=auto !eol
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_pcenter1.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_pcenter2.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_pcenter3.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_pcenter4.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_sorted1.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_sorted2.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_sorted3.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_sorted4.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_totmon1.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_totmon2.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_totmon3.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_totmon4.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_totmon5.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_pcenter1.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_pcenter2.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_pcenter3.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_pcenter4.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_sorted1.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_sorted2.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_sorted3.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_sorted4.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_totmon1.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_totmon2.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_totmon3.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_totmon4.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_totmon5.gif svneol=native#unset
