CGAL_2_3_release/Packages/Min_annulus_d/*.aux
CGAL_2_3_release/Packages/Min_annulus_d/*.bbl
CGAL_2_3_release/Packages/Min_annulus_d/*.blg
CGAL_2_3_release/Packages/Min_annulus_d/*.dvi
CGAL_2_3_release/Packages/Min_annulus_d/*.idx
CGAL_2_3_release/Packages/Min_annulus_d/*.ilg
CGAL_2_3_release/Packages/Min_annulus_d/*.ind
CGAL_2_3_release/Packages/Min_annulus_d/*.log
CGAL_2_3_release/Packages/Min_annulus_d/*.mxp
CGAL_2_3_release/Packages/Min_annulus_d/*.toc
CGAL_2_3_release/Packages/Min_annulus_d/.dep
CGAL_2_3_release/Packages/Min_annulus_d/.obj
CGAL_2_3_release/Packages/Min_annulus_d/.tmp
CGAL_2_3_release/Packages/Min_annulus_d/Makefile
CGAL_2_3_release/Packages/Min_annulus_d/bin
CGAL_2_3_release/Packages/Min_annulus_d/doc_ps
CGAL_2_3_release/Packages/Min_circle_2/*.aux
CGAL_2_3_release/Packages/Min_circle_2/*.bbl
CGAL_2_3_release/Packages/Min_circle_2/*.blg
CGAL_2_3_release/Packages/Min_circle_2/*.dvi
CGAL_2_3_release/Packages/Min_circle_2/*.idx
CGAL_2_3_release/Packages/Min_circle_2/*.ilg
CGAL_2_3_release/Packages/Min_circle_2/*.ind
CGAL_2_3_release/Packages/Min_circle_2/*.log
CGAL_2_3_release/Packages/Min_circle_2/*.mxp
CGAL_2_3_release/Packages/Min_circle_2/*.toc
CGAL_2_3_release/Packages/Min_circle_2/.dep
CGAL_2_3_release/Packages/Min_circle_2/.obj
CGAL_2_3_release/Packages/Min_circle_2/.tmp
CGAL_2_3_release/Packages/Min_circle_2/Makefile
CGAL_2_3_release/Packages/Min_circle_2/bin
CGAL_2_3_release/Packages/Min_circle_2/doc_ps
CGAL_2_3_release/Packages/Min_ellipse_2/*.aux
CGAL_2_3_release/Packages/Min_ellipse_2/*.bbl
CGAL_2_3_release/Packages/Min_ellipse_2/*.blg
CGAL_2_3_release/Packages/Min_ellipse_2/*.dvi
CGAL_2_3_release/Packages/Min_ellipse_2/*.idx
CGAL_2_3_release/Packages/Min_ellipse_2/*.ilg
CGAL_2_3_release/Packages/Min_ellipse_2/*.ind
CGAL_2_3_release/Packages/Min_ellipse_2/*.log
CGAL_2_3_release/Packages/Min_ellipse_2/*.mxp
CGAL_2_3_release/Packages/Min_ellipse_2/*.toc
CGAL_2_3_release/Packages/Min_ellipse_2/.dep
CGAL_2_3_release/Packages/Min_ellipse_2/.obj
CGAL_2_3_release/Packages/Min_ellipse_2/.tmp
CGAL_2_3_release/Packages/Min_ellipse_2/Makefile
CGAL_2_3_release/Packages/Min_ellipse_2/bin
CGAL_2_3_release/Packages/Min_ellipse_2/doc_ps
CGAL_2_3_release/Packages/Min_sphere_d_new/*.aux
CGAL_2_3_release/Packages/Min_sphere_d_new/*.bbl
CGAL_2_3_release/Packages/Min_sphere_d_new/*.blg
CGAL_2_3_release/Packages/Min_sphere_d_new/*.dvi
CGAL_2_3_release/Packages/Min_sphere_d_new/*.idx
CGAL_2_3_release/Packages/Min_sphere_d_new/*.ilg
CGAL_2_3_release/Packages/Min_sphere_d_new/*.ind
CGAL_2_3_release/Packages/Min_sphere_d_new/*.log
CGAL_2_3_release/Packages/Min_sphere_d_new/*.mxp
CGAL_2_3_release/Packages/Min_sphere_d_new/*.toc
CGAL_2_3_release/Packages/Min_sphere_d_new/.dep
CGAL_2_3_release/Packages/Min_sphere_d_new/.obj
CGAL_2_3_release/Packages/Min_sphere_d_new/.tmp
CGAL_2_3_release/Packages/Min_sphere_d_new/Makefile
CGAL_2_3_release/Packages/Min_sphere_d_new/bin
CGAL_2_3_release/Packages/Min_sphere_d_new/doc_ps
CGAL_2_3_release/Packages/Optimisation_basic/*.aux
CGAL_2_3_release/Packages/Optimisation_basic/*.bbl
CGAL_2_3_release/Packages/Optimisation_basic/*.blg
CGAL_2_3_release/Packages/Optimisation_basic/*.dvi
CGAL_2_3_release/Packages/Optimisation_basic/*.idx
CGAL_2_3_release/Packages/Optimisation_basic/*.ilg
CGAL_2_3_release/Packages/Optimisation_basic/*.ind
CGAL_2_3_release/Packages/Optimisation_basic/*.log
CGAL_2_3_release/Packages/Optimisation_basic/*.mxp
CGAL_2_3_release/Packages/Optimisation_basic/*.toc
CGAL_2_3_release/Packages/Optimisation_basic/.dep
CGAL_2_3_release/Packages/Optimisation_basic/.obj
CGAL_2_3_release/Packages/Optimisation_basic/.tmp
CGAL_2_3_release/Packages/Optimisation_basic/Makefile
CGAL_2_3_release/Packages/Optimisation_basic/bin
CGAL_2_3_release/Packages/Optimisation_basic/doc_ps
CGAL_2_3_release/Packages/Optimisation_basic/src/Optimisation
CGAL_2_3_release/Packages/Optimisation_doc/*.aux
CGAL_2_3_release/Packages/Optimisation_doc/*.bbl
CGAL_2_3_release/Packages/Optimisation_doc/*.blg
CGAL_2_3_release/Packages/Optimisation_doc/*.dvi
CGAL_2_3_release/Packages/Optimisation_doc/*.idx
CGAL_2_3_release/Packages/Optimisation_doc/*.ilg
CGAL_2_3_release/Packages/Optimisation_doc/*.ind
CGAL_2_3_release/Packages/Optimisation_doc/*.log
CGAL_2_3_release/Packages/Optimisation_doc/*.mxp
CGAL_2_3_release/Packages/Optimisation_doc/*.toc
CGAL_2_3_release/Packages/Optimisation_doc/.dep
CGAL_2_3_release/Packages/Optimisation_doc/.obj
CGAL_2_3_release/Packages/Optimisation_doc/.tmp
CGAL_2_3_release/Packages/Optimisation_doc/Makefile
CGAL_2_3_release/Packages/Optimisation_doc/bin
CGAL_2_3_release/Packages/Optimisation_doc/doc_ps
CGAL_2_3_release/Packages/Polytope_distance_d/*.aux
CGAL_2_3_release/Packages/Polytope_distance_d/*.bbl
CGAL_2_3_release/Packages/Polytope_distance_d/*.blg
CGAL_2_3_release/Packages/Polytope_distance_d/*.dvi
CGAL_2_3_release/Packages/Polytope_distance_d/*.idx
CGAL_2_3_release/Packages/Polytope_distance_d/*.ilg
CGAL_2_3_release/Packages/Polytope_distance_d/*.ind
CGAL_2_3_release/Packages/Polytope_distance_d/*.log
CGAL_2_3_release/Packages/Polytope_distance_d/*.mxp
CGAL_2_3_release/Packages/Polytope_distance_d/*.toc
CGAL_2_3_release/Packages/Polytope_distance_d/.dep
CGAL_2_3_release/Packages/Polytope_distance_d/.obj
CGAL_2_3_release/Packages/Polytope_distance_d/.tmp
CGAL_2_3_release/Packages/Polytope_distance_d/Makefile
CGAL_2_3_release/Packages/Polytope_distance_d/bin
CGAL_2_3_release/Packages/Polytope_distance_d/doc_ps
CGAL_2_3_release/Packages/_QP_solver/*.aux
CGAL_2_3_release/Packages/_QP_solver/*.bbl
CGAL_2_3_release/Packages/_QP_solver/*.blg
CGAL_2_3_release/Packages/_QP_solver/*.dvi
CGAL_2_3_release/Packages/_QP_solver/*.idx
CGAL_2_3_release/Packages/_QP_solver/*.ilg
CGAL_2_3_release/Packages/_QP_solver/*.ind
CGAL_2_3_release/Packages/_QP_solver/*.log
CGAL_2_3_release/Packages/_QP_solver/*.mxp
CGAL_2_3_release/Packages/_QP_solver/*.toc
CGAL_2_3_release/Packages/_QP_solver/.dep
CGAL_2_3_release/Packages/_QP_solver/.obj
CGAL_2_3_release/Packages/_QP_solver/.tmp
CGAL_2_3_release/Packages/_QP_solver/Makefile
CGAL_2_3_release/Packages/_QP_solver/bin
CGAL_2_3_release/Packages/_QP_solver/doc_ps
