Packages/Distance_2/web/lis
Packages/Distance_3/include
Packages/Min_annulus_d/*.aux
Packages/Min_annulus_d/*.bbl
Packages/Min_annulus_d/*.blg
Packages/Min_annulus_d/*.dvi
Packages/Min_annulus_d/*.idx
Packages/Min_annulus_d/*.ilg
Packages/Min_annulus_d/*.ind
Packages/Min_annulus_d/*.log
Packages/Min_annulus_d/*.mxp
Packages/Min_annulus_d/*.toc
Packages/Min_annulus_d/.dep
Packages/Min_annulus_d/.obj
Packages/Min_annulus_d/.tmp
Packages/Min_annulus_d/Makefile
Packages/Min_annulus_d/bin
Packages/Min_annulus_d/doc_ps
Packages/Min_circle_2/*.aux
Packages/Min_circle_2/*.bbl
Packages/Min_circle_2/*.blg
Packages/Min_circle_2/*.dvi
Packages/Min_circle_2/*.idx
Packages/Min_circle_2/*.ilg
Packages/Min_circle_2/*.ind
Packages/Min_circle_2/*.log
Packages/Min_circle_2/*.mxp
Packages/Min_circle_2/*.toc
Packages/Min_circle_2/.dep
Packages/Min_circle_2/.obj
Packages/Min_circle_2/.tmp
Packages/Min_circle_2/Makefile
Packages/Min_circle_2/bin
Packages/Min_circle_2/doc_ps
Packages/Min_ellipse_2/*.aux
Packages/Min_ellipse_2/*.bbl
Packages/Min_ellipse_2/*.blg
Packages/Min_ellipse_2/*.dvi
Packages/Min_ellipse_2/*.idx
Packages/Min_ellipse_2/*.ilg
Packages/Min_ellipse_2/*.ind
Packages/Min_ellipse_2/*.log
Packages/Min_ellipse_2/*.mxp
Packages/Min_ellipse_2/*.toc
Packages/Min_ellipse_2/.dep
Packages/Min_ellipse_2/.obj
Packages/Min_ellipse_2/.tmp
Packages/Min_ellipse_2/Makefile
Packages/Min_ellipse_2/bin
Packages/Min_ellipse_2/doc_ps
Packages/Min_sphere_d_new/*.aux
Packages/Min_sphere_d_new/*.bbl
Packages/Min_sphere_d_new/*.blg
Packages/Min_sphere_d_new/*.dvi
Packages/Min_sphere_d_new/*.idx
Packages/Min_sphere_d_new/*.ilg
Packages/Min_sphere_d_new/*.ind
Packages/Min_sphere_d_new/*.log
Packages/Min_sphere_d_new/*.mxp
Packages/Min_sphere_d_new/*.toc
Packages/Min_sphere_d_new/.dep
Packages/Min_sphere_d_new/.obj
Packages/Min_sphere_d_new/.tmp
Packages/Min_sphere_d_new/Makefile
Packages/Min_sphere_d_new/bin
Packages/Min_sphere_d_new/doc_ps
Packages/Polytope_distance_d/*.aux
Packages/Polytope_distance_d/*.bbl
Packages/Polytope_distance_d/*.blg
Packages/Polytope_distance_d/*.dvi
Packages/Polytope_distance_d/*.idx
Packages/Polytope_distance_d/*.ilg
Packages/Polytope_distance_d/*.ind
Packages/Polytope_distance_d/*.log
Packages/Polytope_distance_d/*.mxp
Packages/Polytope_distance_d/*.toc
Packages/Polytope_distance_d/.dep
Packages/Polytope_distance_d/.obj
Packages/Polytope_distance_d/.tmp
Packages/Polytope_distance_d/Makefile
Packages/Polytope_distance_d/bin
Packages/Polytope_distance_d/doc_ps
