* text=auto !eol
Packages/Fixed_precision_nt/Fixed_precision_nt.tar.gz svneol=native#unset
Packages/Geomview/doc_html/support/Geomview/cc_advanced_begin.gif svneol=native#unset
Packages/Geomview/doc_html/support/Geomview/cc_advanced_end.gif svneol=native#unset
Packages/Geomview/doc_html/support/Geomview/cc_ref_up_arrow.gif svneol=native#unset
Packages/Geomview/doc_ps/geomview.ps.gz svneol=native#unset
Packages/Installation/doc_tex/installation/Fig/a-simp.ipe -text
Packages/Installation/doc_tex/installation/Fig/c-simp.ipe -text
Packages/Installation/doc_tex/installation/Fig/g-simp.ipe -text
Packages/Installation/doc_tex/installation/Fig/l-simp.ipe -text
Packages/Interval_arithmetic/src/Interval_arithmetic/workaround_4_ms.obj -text svneol=unset#unset
Packages/Manual_tools/src/mstring.doc -text
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_pcenter1.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_pcenter2.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_pcenter3.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_pcenter4.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_sorted1.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_sorted2.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_sorted3.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_sorted4.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_totmon1.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_totmon2.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_totmon3.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_totmon4.gif svneol=native#unset
Packages/Matrix_search/doc_tex/Optimisation/Optimisation_ref/MatrixSearch_totmon5.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_pcenter1.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_pcenter2.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_pcenter3.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_pcenter4.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_sorted1.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_sorted2.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_sorted3.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_sorted4.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_totmon1.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_totmon2.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_totmon3.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_totmon4.gif svneol=native#unset
Packages/Matrix_search/doc_tex/basic/Optimisation/Optimisation_ref/MatrixSearch_totmon5.gif svneol=native#unset
Packages/Modifier/doc_tex/Modifier/idraw/modifier.ips -text
Packages/Modifier/doc_tex/Modifier/modifier.gif -text svneol=unset#unset
Packages/Modifier/doc_tex/Modifier/modifier_small.gif -text svneol=unset#unset
Packages/Modifier/doc_tex/support/Modifier/idraw/modifier.ips -text
Packages/Modifier/doc_tex/support/Modifier/modifier.gif -text svneol=unset#unset
Packages/Modifier/doc_tex/support/Modifier/modifier_small.gif -text svneol=unset#unset
Packages/PS_Stream/latex/test.dvi svneol=native#unset
Packages/PS_Stream/test/postscript svneol=native#unset
Packages/Triangulation_3/doc_tex/Triangulation_3/comborient.gif svneol=native#unset
Packages/Triangulation_3/doc_tex/Triangulation_3/design.eps -text
Packages/Triangulation_3/doc_tex/Triangulation_3/design.gif -text svneol=unset#unset
Packages/Triangulation_3/doc_tex/Triangulation_3/flips.gif svneol=native#unset
Packages/Triangulation_3/doc_tex/Triangulation_3/grille.gif svneol=native#unset
Packages/Triangulation_3/doc_tex/Triangulation_3/insert_outside_affine_hull.eps -text
Packages/Triangulation_3/doc_tex/Triangulation_3/insert_outside_affine_hull.gif -text svneol=unset#unset
Packages/Triangulation_3/doc_tex/Triangulation_3/insert_outside_convex_hull.eps -text
Packages/Triangulation_3/doc_tex/Triangulation_3/insert_outside_convex_hull.gif -text svneol=unset#unset
Packages/Triangulation_3/doc_tex/Triangulation_3/orient.eps -text
Packages/Triangulation_3/doc_tex/Triangulation_3/orient.gif -text svneol=unset#unset
Packages/Triangulation_3/doc_tex/Triangulation_3/ortho.eps -text
Packages/Triangulation_3/doc_tex/Triangulation_3/ortho.gif -text svneol=unset#unset
Packages/Triangulation_3/doc_tex/Triangulation_3/repres.gif svneol=native#unset
Packages/Triangulation_3/doc_tex/Triangulation_3/sidedim2.eps -text
Packages/Triangulation_3/doc_tex/Triangulation_3/sidedim2.gif -text svneol=unset#unset
Packages/Triangulation_3/doc_tex/Triangulation_3/sphere.eps -text
Packages/Triangulation_3/doc_tex/Triangulation_3/sphere.gif -text svneol=unset#unset
Packages/Triangulation_3/doc_tex/Triangulation_3/topo-insert_outside_affine_hull.eps -text
Packages/Triangulation_3/doc_tex/Triangulation_3/topo-insert_outside_affine_hull.gif -text svneol=unset#unset
Packages/Triangulation_3/doc_tex/Triangulation_3/topo-simplex2.gif svneol=native#unset
Packages/Triangulation_3/doc_tex/Triangulation_3/topo-simplex3.gif svneol=native#unset
Packages/Triangulation_3/doc_tex/Triangulation_3/topo-simplex4.gif svneol=native#unset
Packages/Triangulation_3/doc_tex/Triangulation_3/utils.gif svneol=native#unset
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/comborient.gif svneol=native#unset
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/design.eps -text
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/design.gif -text svneol=unset#unset
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/flips.gif svneol=native#unset
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/grille.gif svneol=native#unset
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/insert_outside_affine_hull.eps -text
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/insert_outside_affine_hull.gif -text svneol=unset#unset
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/insert_outside_convex_hull.eps -text
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/insert_outside_convex_hull.gif -text svneol=unset#unset
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/orient.eps -text
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/orient.gif -text svneol=unset#unset
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/ortho.eps -text
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/ortho.gif -text svneol=unset#unset
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/repres.gif svneol=native#unset
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/sidedim2.eps -text
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/sidedim2.gif -text svneol=unset#unset
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/sphere.eps -text
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/sphere.gif -text svneol=unset#unset
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/topo-insert_outside_affine_hull.eps -text
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/topo-insert_outside_affine_hull.gif -text svneol=unset#unset
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/topo-simplex2.gif svneol=native#unset
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/topo-simplex3.gif svneol=native#unset
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/topo-simplex4.gif svneol=native#unset
Packages/Triangulation_3/doc_tex/basic/Triangulation_3/utils.gif svneol=native#unset
