body,
table,
div,
p,
dl {
  font: Lucida Grande, sans-serif;
}

.textsc {
  font-variant: small-caps;
}

#projectnumber {
  display: none;
}

#back-nav {
  border-bottom: 1px solid;
  padding: 0.5em;
}

#back-nav h2 {
  display: inline;
}

#back-nav ul {
  display: inline;
  padding: 0;
  margin: 0;
}

#back-nav li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.tparams .paramname {
  font-weight: bold;
  vertical-align: top;
}

h1 {
  font-size: 180%;
}

h2 {
  font-size: 120%;
}

.icon-namespace {
  font-family: Arial, Helvetica;
  font-weight: bold;
  font-size: 12px;
  height: 14px;
  width: 16px;
  display: inline-block;
  background-color: #FF0000;
  color: white;
  text-align: center;
  border-radius: 4px;
  margin-left: 2px;
  margin-right: 2px;
}

.icon-class {
  font-family: Arial, Helvetica;
  font-weight: bold;
  font-size: 12px;
  height: 14px;
  width: 16px;
  display: inline-block;
  background-color: #0000FF;
  color: white;
  text-align: center;
  border-radius: 4px;
  margin-left: 2px;
  margin-right: 2px;
}

.icon-concept {
  font-family: Arial, Helvetica;
  font-weight: bold;
  font-size: 12px;
  height: 14px;
  width: 16px;
  display: inline-block;
  background-color: #67489A;
  color: white;
  text-align: center;
  border-radius: 4px;
  margin-left: 2px;
  margin-right: 2px;
}

h1.groupheader {
  font-size: 150%;
}

/* enable this to make sections more alike */
/* h2.groupheader { */
/*     border-bottom: none; */
/*     color: black; */
/*     font-size: 100%; */
/*     font-weight: bold; */
/*     margin-top: 1.75em; */
/*     padding-bottom: 0; */
/*     padding-top: 0; */
/*     width: 100%; */
/* } */

a.el {
  font-weight: normal;
}

.memproto a {
  font-weight: bold;
}

.PkgSummary {
  width: 60%;
}

.PkgShortInfo {
  width: 20%;
}

.PkgSummary,
.PkgShortInfo,
.PkgImage,
.PkgImage .image {
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
}

.PkgAuthors {
  font-style: italic;
}

.PkgDescription {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: justify;
}

/* footnote support */

blockquote sup {
  position: absolute;
  right: 3px;
  top: 3px;
}

.footnote ol li:hover {
  text-decoration: underline;
}

a.footnoteBackref,
a.footnoteLink {
  text-decoration: none;
}

ol.footnotesList {
  margin: 0;
  font-size: 0.8em;
  padding-top: 5px;
}

ol.footnotesList > li {
  text-indent: -1.5em;
  padding-left: 1.5em;
  vertical-align: top;
}

.footnoteBackReferenceGroup {
  padding-right: 0.5em;
}

.footnoteBackref {
  padding-right: 0.25em;
}

span.footnoteContent {}

span.footnoteContent > p:first-child,
span.footnoteContent > div:first-child {
  display: inline;
}

span.footnoteContent p,
span.footnoteContent div {
  text-indent: 0em;
}

/* footnote support end */

dl {
  padding: 0 0 0 0;
}

dl.section,
dl.hasModels,
dl.debugs,
dl.models,
dl.refines,
dl.requires {
  margin-left: 0px;
  padding-left: 0px;
}

dl.section dt a,
dl.hasModels dt a,
dl.debugs dt a,
dl.models dt a,
dl.refines dt a,
dl.advanced dt a,
dl.requires dt a,
dl.todo dt a,
dl.bug dt a,
dl.test dt a {
  font-weight: bold;
  color: black;
}

div.toc {
  width: auto;
}

.ui-resizable-e {
  background-repeat: repeat-y;
}

div.cgal_figure_caption {
  text-align: center;
}

div.cgal_video_caption {
  text-align: center;
}

div.groupText {
  font-style: none;
}

#projectname {
  font: 200% Tahoma, Arial, sans-serif;
}

#MSearchResultsWindow {
  z-index: 2;
}

dl.note,
dl.warning,
dl.attention,
dl.pre,
dl.post,
dl.invariant,
dl.deprecated,
dl.todo,
dl.test,
dl.bug {
  margin-left: -7px;
  padding-left: 3px;
}

div.CGALAdvanced {}

div.CGALDebug {}

dl.deprecated {
  border-left: 4px solid;
  border-color: #505050;
}

div.CGALAdvanced,
div.CGALDebug,
dl.deprecated {
  border-radius: 1ex;
  padding-top: 0.5ex;
  padding-bottom: 0.25ex;
  padding-left: 1ex;
  padding-right: 1ex;
  margin-bottom: 1ex;
}

div.CGALModification {
  border-radius: 1ex;
  padding-top: 0.5ex;
  padding-bottom: 0.25ex;
  padding-left: 1ex;
  padding-right: 1ex;
  margin-bottom: 1ex;
}

.Modification {
  border: 0px;
  padding-top: 0ex;
  padding-bottom: 0ex;
  padding-left: 0ex;
  padding-right: 0ex;
  margin-bottom: 0ex;
}

/* The first div in CGALAdvanced sections is the "Advanced" header */
div.CGALAdvanced > div,
div.CGALDebug > div,
dl.deprecated > dt > b > a {
  font-style: italic;
  font-weight: bold;
}

/* Everything else is noise and should stay in the normal font */
div.CGALAdvanced > div ~ div,
div.CGALDebug > div ~ div,
dl.deprecated > dt ~ dt {
  font-style: normal;
  font-weight: normal;
}

/* More indentation for the text body */
div.CGALAdvanced > p,
div.CGALDebug > p,
dl.deprecated > dd {
  margin-left: 0;
  margin-top: 1ex;
  margin-bottom: 1ex;
  padding-left: 1em;
  padding-right: 1em;
}

/* Adjust the top and bottom margins of div.fragment */
div.fragment {
  padding: 4px;
  margin: 1em 4px 1em 4px;
}

/* Make summary smaller to avoid wrapping of classes and concepts */
div.summary {
  width: auto;
}

.collapsible {
  padding: 3px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font: 14px Roboto, sans-serif;
  user-select: auto;
}

.collapsible:after {
  content: '\25B6';
  font-weight: bold;
  float: left;
  margin-left: -20px;
  margin-right: 5px;
}

.active:after {
  content: "\25BC";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@media print {
  .collapsible:after {
    content: '';
  }

  .content {
    max-height: unset;
  }
}

/* Color and background rules */
:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {

  #back-nav {
    background-color: #FAF9FB;
  }

  #titlearea {
    background: white;
  }

  .package_section h1 {
    padding: 1ex 0 1ex 0;
    background-color: #EEEDF2;
    margin-top: 0;
    margin-bottom: 0;
  }

  div.CGALAdvanced {
    background: #eeb;
    border: 1px solid #9e9e7d;
    box-shadow: 0.5ex 0.5ex #ccc;
  }

  div.CGALDebug {
    background: #c8a8d0;
    border: 1px solid #846f8a;
    box-shadow: 0.5ex 0.5ex #777;
  }

  dl.deprecated {
    background: #d8c0a0;
    border: 1px solid #94836e;
    box-shadow: 0.5ex 0.5ex #aaa;
  }

  div.CGALModification {
    background: #f85858;
    border: 1px solid #000000;
    box-shadow: 0.5ex 0.5ex #777;
  }

  .Modification {
    background: #f85858;
  }

  .collapsible {
    background-color: white;
    color: #602020;
    cursor: pointer;
  }

  .active,
  .collapsible:hover {
    background-color: white;
  }

  .active,
  .collapsible:hover {
    background-color: white;
  }

  .collapsible:after {
    color: #7A93C5;
  }

  .content {
    color: black;
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {

  .image > img {
    border-radius: 1ex;
    background: white;
  }

  #back-nav {
    background-color: #1A1A1A;
  }

  #titlearea {
    background: #1A1A1A;
  }

  div.CGALAdvanced {
    background: #4f4f19;
    border: 1px solid #9e9e7d;
    box-shadow: 0.5ex 0.5ex #ccc;
  }

  div.CGALDebug {
    background: #45244d;
    border: 1px solid #846f8a;
    box-shadow: 0.5ex 0.5ex #777;
  }

  dl.deprecated {
    background: #684618;
    border: 1px solid #94836e;
    box-shadow: 0.5ex 0.5ex #aaa;
  }

  div.CGALModification {
    background: #601616;
    border: 1px solid #000000;
    box-shadow: 0.5ex 0.5ex #777;
  }

  .Modification {
    background: #601616;
  }

  .collapsible {
    background-color: black;
    color: #B0B0B0;
    cursor: pointer;
  }

  .active,
  .collapsible:hover {
    background-color: black;
  }

  .active,
  .collapsible:hover {
    background-color: black;
  }

  .collapsible:after {
    color: #7A93C5;
  }

  .content {
    color: white;
    background-color: black;
  }
}