# For details see man 4 crontabs

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  *  command to be executed

PATH=/bin:/usr/bin:/home/lrineau/bin
LC_CTYPE=en_US.UTF-8

# Update testsuite result pages
5,15,25,35,45,55 * * * *  cd $HOME/CGAL/collect_and_public_testresults; ./treat_result_collection

# Create internal release
# The script also updates the manual tools.

# "master" alone
0 21  *  *  Sun                      cd $HOME/CGAL/create_internal_release && $HOME/bin/create_release $HOME/CGAL/branches/master.git --public --do-it
#0 21  *  *  Mon,Tue,Wed,Thu,Fri,Sun  cd $HOME/CGAL/create_internal_release && $HOME/bin/create_release $HOME/CGAL/branches/master.git --public --do-it
# "integration"
0 21  *  *  Mon,Tue,Wed,Fri          cd $HOME/CGAL/create_internal_release && $HOME/bin/create_release $HOME/CGAL/branches/integration.git $HOME/CGAL/branches/empty-dir --do-it 
# from branch 4.5
0 21  *  *  Thu,Sat                  cd $HOME/CGAL/create_internal_release-4.5-branch && $HOME/bin/create_release $HOME/CGAL/branches/CGAL-4.5-branch.git --public --do-it

# Try to launch the test suite, every 10mn, from 21:00 to 22:50
*/10 21-22 * * * setarch i686 $HOME/CGAL/Scripts/developer_scripts/autotest_cgal_with_cmake

# Dump the crontab to SVN every hour at minute 18
18 * * * * $HOME/bin/dump_crontab


####################################
#             Old stuff
####################################

## Manual Test suite, at 9:40pm
#40 21 * * * cd $HOME/CGAL/releases-and-testsuites-with-cmake/CGAL-I/doc_tex; nice -19 $HOME/bin/cgal_manual -testsuite || true
## Doxygen Test suite, at 9:05pm
#20 21  * * * time $HOME/CGAL/python-3.3/bin/python3 $HOME/CGAL/doxy-port-pmoeller/Documentation/testsuite.py --doxyassist $HOME/CGAL/doxyassist/doxyassist.py --doxygen $HOME/Git/doxygen-fixes/bin/doxygen --documentation $HOME/CGAL/doxy-port-pmoeller/Documentation --publish /var/CGAL/www/Members/Doxygen_test/ --do-update --do-purge-rebuild

# "next" alone
#0 21  *  *  Sat                      cd $HOME/CGAL/create_internal_release && $HOME/bin/create_release $HOME/CGAL/next.svn --public --do-it
# "next" + candidates
#0 21  *  *  Mon,Tue,Wed,Thu,Fri      cd $HOME/CGAL/create_internal_release && $HOME/bin/create_release $HOME/CGAL/next.svn $HOME/CGAL/candidate-packages --public --do-it
# from branch 4.1
#0 21  *  *  Sun                      cd $HOME/CGAL/create_internal_release-4.1-branch && $HOME/bin/create_release $HOME/CGAL/CGAL-4.1-branch --public --do-it
# from branch 4.4
#0 21  *  *  Sun                      cd $HOME/CGAL/create_internal_release-4.4-branch && $HOME/bin/create_release $HOME/CGAL/branches/CGAL-4.4-branch.git --public --do-it
# "integration-4.5"
#0 21  *  *  Sat,Mon                  cd $HOME/CGAL/create_internal_release-4.5-branch && $HOME/bin/create_release $HOME/CGAL/branches/integration-4.5.git $HOME/CGAL/branches/empty-dir --do-it --public

#  - from branch 3.4
#0 21 * * Sat cd $HOME/CGAL/create_internal_release-3.4-branch; $HOME/bin/create_release $HOME/CGAL/CGAL-3.4-branch --public --do-it
#  - from branch 3.7
#0 21  *  *  Fri                       cd $HOME/CGAL/create_internal_release-3.7-branch; $HOME/bin/create_release $HOME/CGAL/CGAL-3.7-branch --public --do-it
#  - from branch 3.9
#0 21  *  *  Sat                cd $HOME/CGAL/create_internal_release-3.9-branch; $HOME/bin/create_release $HOME/CGAL/CGAL-3.9-branch --public --do-it
#  - from branch 4.0
#0 21  *  *  Sun                      cd $HOME/CGAL/create_internal_release-4.0-branch && $HOME/bin/create_release $HOME/CGAL/CGAL-4.0-branch --public --do-it
#  - on trunk
#0 21  *  *  Sat                        cd $HOME/CGAL/create_internal_release; $HOME/bin/create_release $HOME/CGAL/trunk --public --do-it

# Check the links of http://www.cgal.org/projects.html every sunday at 17:42
#42 17 * * Sun   linklint -host www.cgal.org -http /projects.html -net -no_anchors -quiet -silent -error

# A test that does not work
#30 21 * * * grep 'conflicts with' $HOME/CGAL/create_internal_release/create_release.log.`date '+%Y-%m-%d'`* --no-filename

