# For details see man 4 crontabs

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  *  command to be executed

PATH=/home/lrineau/bin-cmake3:/bin:/usr/bin:/home/lrineau/bin
LC_CTYPE=en_US.UTF-8

# Update testsuite result pages
5,15,25,35,45,55 * * * *  cd $HOME/CGAL/collect_and_public_testresults; ./treat_result_collection || echo ERROR

# Create internal release
0 21  *  *  *                        python3 /home/lrineau/CGAL/branches/local-master.git/Maintenance/infrastructure/cgal.geometryfactory.com/bin/create_internal_release_of_the_day.py

## Older stuff

## "master" alone
#0 21  *  *  Sun                      cd $HOME/CGAL/create_internal_release && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/branches/master.git --do-it --public || echo ERROR
## "integration"
#0 21  *  *  Mon,Tue,Wed          cd $HOME/CGAL/create_internal_release && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/branches/integration.git $HOME/CGAL/branches/empty-dir --do-it || echo ERROR
## from branch 5.5
#0 21  *  *  Fri                      cd $HOME/CGAL/create_internal_release-5.5-branch && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/branches/CGAL-5.5-branch.git --public --do-it || echo ERROR
## from branch 5.4
#0 21  *  *  Sat,Thu                      cd $HOME/CGAL/create_internal_release-5.4-branch && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/branches/CGAL-5.4-branch.git --public --do-it || echo ERROR

# from branch 5.3
#0 21  *  *  Sat                      cd $HOME/CGAL/create_internal_release-5.3-branch && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/branches/CGAL-5.3-branch.git --public --do-it || echo ERROR
# from branch 5.2
#0 21  *  *  Fri                      cd $HOME/CGAL/create_internal_release-5.2-branch && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/branches/CGAL-5.2-branch.git --public --do-it || echo ERROR
# from branch 5.1
#0 21  *  *  Fri                      cd $HOME/CGAL/create_internal_release-5.1-branch && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/branches/CGAL-5.1-branch.git --public --do-it || echo ERROR
# from branch 5.0
#0 21  *  *  Fri                      cd $HOME/CGAL/create_internal_release-5.0-branch && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/branches/CGAL-5.0-branch.git --public --do-it || echo ERROR
# from branch 4.14
#0 21  *  *  Fri                      cd $HOME/CGAL/create_internal_release-4.14-branch && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/branches/CGAL-4.14-branch.git --public --do-it || echo ERROR
# from branch 4.13
#0 21  *  *  Fri                      cd $HOME/CGAL/create_internal_release-4.13-branch && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/branches/CGAL-4.13-branch.git --public --do-it || echo ERROR
# from branch 4.12
#0 21  *  *  Sat                      cd $HOME/CGAL/create_internal_release-4.12-branch && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/branches/CGAL-4.12-branch.git --public --do-it || echo ERROR
# from branch 4.11
#0 21  *  *  Sat                      cd $HOME/CGAL/create_internal_release-4.11-branch && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/branches/CGAL-4.11-branch.git --public --do-it || echo ERROR
# from branch 4.10
#0 21  *  *  Mon,Tue                  cd $HOME/CGAL/create_internal_release-4.10-branch && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/branches/CGAL-4.10-branch.git --public --do-it || echo ERROR
# from branch 4.9
#0 21  *  *  Sat                      cd $HOME/CGAL/create_internal_release-4.9-branch && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/branches/CGAL-4.9-branch.git --public --do-it
# from branch 4.8
#0 21  *  *  Sat                      cd $HOME/CGAL/create_internal_release-4.8-branch && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/branches/CGAL-4.8-branch.git --public --do-it
# from branch 4.7
#0 21  *  *  Sat                      cd $HOME/CGAL/create_internal_release-4.7-branch && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/branches/CGAL-4.7-branch.git --public --do-it
# from branch 4.6
#0 21  *  *  Sat                      cd $HOME/CGAL/create_internal_release-4.6-branch && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/branches/CGAL-4.6-branch.git --public --do-it
# from branch 4.5
#0 21  *  *  Sat                      cd $HOME/CGAL/create_internal_release-4.5-branch && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/branches/CGAL-4.5-branch.git --public --do-it

# Launch our  Docker testsuite , at 21:36,
# after a pull of all new images at 20:23.
06 20 * * * for i in $(cat /home/lrineau/.config/CGAL/test_cgal_docker_images); do docker pull $i; done; docker rmi $(docker images | awk '/<none>/ {print $3}')
36 21 * * * cd /home/lrineau/Git/cgal-testsuite-dockerfiles && /usr/bin/time ./test_cgal.py --use-fedora-selinux-policy --force-rm --max-cpus 12 --container-cpus 4 --jobs 5 --upload-results --images $($HOME/bin/docker_images_to_test_today)


# Dump the crontab to SVN every hour at minute 18
18 * * * * $HOME/bin/dump_crontab

# Docker check every hour
#0 * * * * docker inspect --format='{{json .State.Health.Status}}' cgal-mediawiki-docker_wiki_1 | grep -q '"healthy"' || docker logs cgal-mediawiki-docker_wiki_1

# cgal->cgal2 with git-multimail
*/5 * * * * cd $HOME/Git/cgal-dev-pusher.git      && $HOME/bin/git-fetch-and-push-to-multimail cgal-dev         cgal-dev-receiver
*/5 * * * * cd $HOME/Git/cgal-pusher.git          && $HOME/bin/git-fetch-and-push-to-multimail cgal             cgal-receiver
*/5 * * * * cd $HOME/Git/cgal-students-pusher.git && $HOME/bin/git-fetch-and-push-to-multimail cgal-public-dev  cgal-students-receiver
*/5 * * * * cd $HOME/Git/cgal-web-pusher.git      && $HOME/bin/git-fetch-and-push-to-multimail cgal-web         cgal-web-receiver

####################################
#             Old stuff
####################################

## Manual Test suite, at 9:40pm
#40 21 * * * cd $HOME/CGAL/releases-and-testsuites-with-cmake/CGAL-I/doc_tex; nice -19 $HOME/bin/cgal_manual -testsuite || true
## Doxygen Test suite, at 9:05pm
#20 21  * * * time $HOME/CGAL/python-3.3/bin/python3 $HOME/CGAL/doxy-port-pmoeller/Documentation/testsuite.py --doxyassist $HOME/CGAL/doxyassist/doxyassist.py --doxygen $HOME/Git/doxygen-fixes/bin/doxygen --documentation $HOME/CGAL/doxy-port-pmoeller/Documentation --publish /var/CGAL/www/Members/Doxygen_test/ --do-update --do-purge-rebuild

# "next" alone
#0 21  *  *  Sat                      cd $HOME/CGAL/create_internal_release && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/next.svn --public --do-it
# "next" + candidates
#0 21  *  *  Mon,Tue,Wed,Thu,Fri      cd $HOME/CGAL/create_internal_release && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/next.svn $HOME/CGAL/candidate-packages --public --do-it
# from branch 4.1
#0 21  *  *  Sun                      cd $HOME/CGAL/create_internal_release-4.1-branch && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/CGAL-4.1-branch --public --do-it
# from branch 4.4
#0 21  *  *  Sun                      cd $HOME/CGAL/create_internal_release-4.4-branch && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/branches/CGAL-4.4-branch.git --public --do-it
# "integration-4.5"
#0 21  *  *  Sat,Mon                  cd $HOME/CGAL/create_internal_release-4.5-branch && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/branches/integration-4.5.git $HOME/CGAL/branches/empty-dir --do-it --public

#  - from branch 3.4
#0 21 * * Sat cd $HOME/CGAL/create_internal_release-3.4-branch; scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/CGAL-3.4-branch --public --do-it
#  - from branch 3.7
#0 21  *  *  Fri                       cd $HOME/CGAL/create_internal_release-3.7-branch; scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/CGAL-3.7-branch --public --do-it
#  - from branch 3.9
#0 21  *  *  Sat                cd $HOME/CGAL/create_internal_release-3.9-branch; scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/CGAL-3.9-branch --public --do-it
#  - from branch 4.0
#0 21  *  *  Sun                      cd $HOME/CGAL/create_internal_release-4.0-branch && /usr/bin/time scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/CGAL-4.0-branch --public --do-it
#  - on trunk
#0 21  *  *  Sat                        cd $HOME/CGAL/create_internal_release; scl enable rh-git29 -- $HOME/bin/create_release $HOME/CGAL/trunk --public --do-it

# Check the links of http://www.cgal.org/projects.html every sunday at 17:42
#42 17 * * Sun   linklint -host www.cgal.org -http /projects.html -net -no_anchors -quiet -silent -error

# A test that does not work
#30 21 * * * grep 'conflicts with' $HOME/CGAL/create_internal_release/create_release.log.`date '+%Y-%m-%d'`* --no-filename

