Source: cgal
Section: non-free/libs
Priority: optional
Maintainer: Joachim Reichel <joachim.reichel@gmx.de>
Build-Depends: debhelper (>= 5), dpatch, libboost-dev, libboost-program-options-dev, libgmp3-dev, libmpfr-dev, libqt3-mt-dev, libqt3-compat-headers, lapack3-dev [!arm !m68k] | liblapack-3.so [!arm !m68k], atlas3-base-dev [!arm !m68k] | libblas-3.so [!arm !m68k], zlib1g-dev
Standards-Version: 3.7.2
XS-Autobuild: yes

Package: libcgal2
Section: non-free/libs
Architecture: any
Depends: ${shlibs:Depends}
Description: C++ library for computational geometry
 CGAL (Computational Geometry Algorithms Library) makes the most important
 of the solutions and methods developed in computational geometry available
 to users in industry and academia in a C++ library. The goal is to provide
 easy access to useful, reliable geometric algorithms.
 .
 The CGAL library contains:
  - the Kernel with geometric primitives such as points, vectors, lines,
    predicates for testing things such as relative positions of points, and
    operations such as intersections and distance calculation.
  - the Basic Library which is a collection of standard data structures and
    geometric algorithms, such as convex hull in 2D/3D, (Delaunay)
    triangulation in 2D/3D, planar map, polyhedron, smallest enclosing circle,
    and multidimensional query structures.
  - the Support Library which offers interfaces to other packages, e.g., for
    visualisation, and I/O, and other support facilities.
 .
 Homepage: http://www.cgal.org/

Package: libcgal-dev
Section: non-free/libdevel
Architecture: any
Depends: libcgal2 (= ${binary:Version}), libboost-dev, libboost-graph-dev,
 libboost-program-options-dev, libgmp3-dev, libmpfr-dev, libqt3-mt-dev,
 libqt3-compat-headers, lapack3-dev [!arm !m68k] | liblapack-3.so [!arm !m68k],
 atlas3-base-dev [!arm !m68k] | libblas-3.so [!arm !m68k], zlib1g-dev
Description: C++ library for computational geometry (development files)
 CGAL (Computational Geometry Algorithms Library) makes the most important
 of the solutions and methods developed in computational geometry available
 to users in industry and academia in a C++ library. The goal is to provide
 easy access to useful, reliable geometric algorithms.
 .
 This package contains the header files and static libraries.

Package: libcgal-demo
Section: non-free/devel
Architecture: all
Depends: libcgal-dev (>= ${binary:Version}), libcgal2 (>= ${binary:Version})
Suggests: geomview
Description: C++ library for computational geometry (demos)
 CGAL (Computational Geometry Algorithms Library) makes the most important
 of the solutions and methods developed in computational geometry available
 to users in industry and academia in a C++ library. The goal is to provide
 easy access to useful, reliable geometric algorithms.
 .
 This package contains demos and examples.
