html, body {
  margin:0;
  background-color: #FAF8E8;
  font-family: arial,sans-serif;
  color:black;
}

li { font-size:100%;}
p { text-align:justify; font-size:100%; margin: 5pt;}

img { border-width: 0pt; }

dl,p,h1,h2,h3,h4,ul,ol,li,div,td,th,address,blockquote,nobr,b 
     { font-family:Arial,sans-serif; }  

td { text-align:justify;}

h1 { font-size:180%; margin-left: 5pt;}
h2 { font-size:160%; margin-left: 5pt;}
h3 { font-size:100%; margin-left: 5pt;}
h4 { font-size:90%; margin-left: 5pt;}

pre { font-family:Courier New,Courier; font-size:100%; }

tt { font-family:Courier New,Courier; font-size:100%; }

/* a:link { color:#050060; text-decoration:none; } */
/* a:visited { color:#590059; text-decoration:none; } */
/* a:active { color:#000000; text-decoration:none; }  */

a:link { text-decoration:none; } 
a:visited { color: #5000CC; text-decoration:none; } 
a:active { color: #00A080; text-decoration:none; }  


.contact { font-family:arial,sans-serif; font-size:100%}

.news {font-size:90%;}

td.menu { background-color: #C0C0D0; white-space:nowrap }

/* We are forced to duplicate definitions because IE does not support ">" */

div.menu { font-size:100%; /* margin-left: -30pt; */ /* margin-top: 10pt; margin-bottom: 3pt */ }

div.menu > h4 { font-size:100%; /* margin-left: 3pt; */ margin-top: 10pt; margin-bottom: 3pt; }

h4.menu { font-size:100%; /* margin-left: 3pt; */ margin-top: 10pt; margin-bottom: 3pt; }

div.menu > p { font-size:100%; margin-left: 10pt; margin-top: 0pt; margin-bottom:0pt; /*; margin-right:5pt */ }

p.menu { font-size:100%; margin-left: 10pt; margin-top: 0pt; margin-bottom:0pt; /*; margin-right:5pt */ }

img.menu { margin-top: 0pt; margin-bottom:0pt }

em.menu { font-style: normal; font-family:Arial,sans-serif; font-size:90%; }

.subtitle { font-family: cursive; font-size: 120% }
