.textsc {
    font-variant: small-caps;
}

#projectnumber {
    display: none;
}

#back-nav {
    border-bottom: 1px solid;
    padding: 0.5em;
    background-color: #FAF9FB;
}

#back-nav h2 {
    display: inline;
}

#back-nav ul
{
    display: inline;
    padding: 0;
    margin: 0;
}

#back-nav li
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.tparams .paramname {
        font-weight: bold;
        vertical-align: top;
}

h2.groupheader {
  font-size: 100%;
}

.PkgDescription {
    width: 50%;
}

.PkgDescription, .PkgSummary, .PkgImage, .PkgImage .image {
    display:inline-block;
    padding:5px;
    vertical-align:middle;
}
