name: CMake Testsuite

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

jobs:
  cmake-testsuite:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: install dependencies
      run: sudo apt-get install -y libboost-dev libboost-program-options-dev libmpfr-dev libeigen3-dev
    - name: configure all
      run: |
        set -e
        mkdir build && cd build && CXX=clang++ cmake -DWITH_examples=ON -DWITH_tests=ON -DWITH_demos=ON -DCGAL_ENABLE_TESTING=ON ..
        ctest -L Installation -j $(getconf _NPROCESSORS_ONLN)

  cmake-testsuite-with-qt:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: install dependencies
      run: sudo bash -e .github/install.sh
    - name: configure all
      run: |
        set -e
        mkdir build && cd build && CXX=clang++ cmake -DWITH_examples=ON -DWITH_tests=ON -DWITH_demos=ON -DCGAL_ENABLE_TESTING=ON ..
        ctest -L Installation -j $(getconf _NPROCESSORS_ONLN)
