name: remove_labels
on:
  pull_request_target:
    types: [synchronize]
  workflow_dispatch:
jobs:
  remove_label:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'Tested')
    name: remove label
    steps:
      - name: removelabel
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            github.rest.issues.removeLabel({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              name: "Tested",
            });
      - name: Post address
        uses: actions/github-script@v7
        if: ${{ success() }}
        with:
          script: |
            github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              body: "This pull-request was previously marked with the label `Tested`, but has been modified with new commits. That label has been removed."
              })
